
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserratbold/montserrat-bold-webfont.eot'); 
	src: 
		url('../fonts/Montserratbold/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserratbold/montserrat-bold-webfont.woff2') format('woff2'), 
		url('../fonts/Montserratbold/montserrat-bold-webfont.woff') format('woff'), 
		url('../fonts/Montserratbold/montserrat-bold-webfont.ttf') format('truetype'), 
		url('../fonts/Montserratbold/montserrat-bold-webfont.svg#montserrat-bold') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserratextrabold/montserrat-extrabold-webfont.eot'); 
	src: 
		url('../fonts/Montserratextrabold/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/Montserratextrabold/montserrat-extrabold-webfont.woff2') format('woff2'), 
		url('../fonts/Montserratextrabold/montserrat-extrabold-webfont.woff') format('woff'), 
		url('../fonts/Montserratextrabold/montserrat-extrabold-webfont.ttf') format('truetype'), 
		url('../fonts/Montserratextrabold/montserrat-extrabold-webfont.svg#montserrat-extraBold') format('svg');


	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserratregular/montserrat-regular-webfont.eot');
	src: 
		url('../fonts/Montserratregular/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/Montserratregular/montserrat-regular-webfont.woff2') format('woff2'), 
		url('../fonts/Montserratregular/montserrat-regular-webfont.woff') format('woff'),
		url('../fonts/Montserratregular/montserrat-regular-webfont.ttf') format('truetype'), 
		url('../fonts/Montserratregular/montserrat-regular-webfont.svg#montserrat-regular') format('svg');


	font-weight: 400;
	font-style: normal;
}

