@import 'app/scss/fonts.scss';
@import 'libs';
*{
	padding:0;
	margin:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat'; 

}

.header{
	max-width: 1250px;
	height: 74px;
	position: absolute;
	right: calc((100% - 1250px) / 2);
	left: calc((100% - 1250px) / 2);
	top:25px;
	background:#FF9729; 
	display: flex;
	justify-content: space-between;
	align-items:center;

}
.logo-promis{
	padding:0 35px;
	height: 100%;
	background:#fff;
	display:flex;
	align-items: center;

}
.search{
	display:flex;
	align-items:center;
	justify-content:center;
	width: 70px;
	height: 64px;
	background: url('../img/backgroundsearch.png');
}
.nav{
	font-size: 14px;
	font-weight:700;
	color:#fff;
	ul{
		text-decoration: none;
		list-style:none;
		display: flex;
		flex-wrap: wrap;
		align-items:center;
		width: 564px;
		height: 18px;
		justify-content:space-between;
		padding: 0 40px;
		li{
			font-size:14px;
			font-weight:700;
		}
	}
}
.fast-link{
	background:#FF8B11;
	width: 200px;
	height: 74px;
	font-size:14px;
	font-weight:700;

	text-align: center;
	line-height:74px;
	color: #fff;

	div{
		line-height: 18px;
    	display: inline-block;
    	vertical-align: middle;
	}
	a{
		text-decoration:none;
		color:#fff;
	}
}
.language{
	width:90px;
	height: 74px;
	text-align:center;
	line-height:74px;
	img{
		line-height:normal;
		display:inline-block;
		vertical-align:middle;
	}
}